
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding-top: 0px;
    margin: 0; /* Remove default margin */
}





.top-bar {
    /* position: fixed; */  /* تثبيت شريط الأدوات في أعلى الصفحة */ 

    top: 0; /* يلمس الحافة العلوية للصفحة */
    width: 100%; /* تمتد عرضياً لتغطية عرض الصفحة بالكامل */
    background-color: #242424; /* Dark background */
    color: #fff; /* Light text */
    padding: 16px 20px; /* Padding inside the bar */
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Center vertically */
    }
    




h1 {
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
    position: relative;
    animation: move 0.7s infinite alternate;
}
@keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.product p {
    color: #666;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.product {
    display: inline-block;
    margin: 0 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.product:hover {
    transform: translateY(-5px);
}
.product img {
    width: 200px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product .pay {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.product .pay:hover {
    background-color: #45a049;
}

/* CSS code for the payment method box */
.containerPP {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.payment-box {
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1); 
}

.payment-method {
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: #000b5f; 
}

.paypal-logo {
    width: 50px; 
    margin-right: 10px; 
}



.logo img {
    width: 110px; /* Adjust as needed */
    height: auto;
}

.menu {
list-style: none; /* إزالة النقاط */
margin: 0; /* إزالة الهوامش الافتراضية */
padding: 0; /* إزالة الحشو الافتراضي */
display: flex; /* ترتيب العناصر أفقيًا */
margin-left: -10px; /* تحريك النص إلى الشمال بقيمة معينة */
}

.menu li {
margin-right: 20px; /* تباعد بين عناصر القائمة */
}

.menu li:last-child {
margin-right: 50px; /* لا تباعد للعنصر الأخير */
}

.menu a {
color: #fff; /* لون النص */
text-decoration: none; /* إزالة التأثيرات الافتراضية */
font-weight: bold; /* سمك الخط */
transition: color 0.3s; /* تحويل نعومة اللون */
}

.menu a:hover {
color: #003cc8; /* تغيير لون النص عند التحويم */
}


.center-bottom {
    display: flex;
    justify-content: center; 

background-color: #000000;
color: white;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;

font-size: 16px;
margin: 4px 2px;

cursor: pointer;
border-radius: 10px;
transition: background-color 0.1s ease;
}
.center-bottom:hover {
background-color: #003cc8;
}



.center-team {
    display: flex;
    justify-content: center; 

background-color: #000000;
color: white;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;

font-size: 16px;
margin: 4px 2px;

cursor: pointer;
border-radius: 10px;
transition: background-color 0.1s ease; 
}
.center-team:hover {
    background-color: #003cc8;
    }



    .box {
        border: 0px solid #000;
        padding: 10px;
        width: 200px;
        text-align: center;

        position: absolute;
        top: 22%;
        left: 25%;
    }

    .box img {
        width: 25%;
        height: auto;
    }

    .box p {
        margin-top: 2px;
    }